
*{
    padding: none;
    margin: none;
}


   


.first-slid{
   
    border-radius: 10px;
    margin-top: 10px;
    background-color:white ;
    height: 30rem;
    width: 50%;
}
body{
    background-image: url(/img/pexels-jeswin-thomas-3781338.jpg);
    background-size: auto;
    
    font-family: 'Comfortaa', cursive;
    background-color: black;
}
#header-first{
   
background-color: white;
  height: 3rem;
  display: flex;
  border-radius: 75px;
  
}
#name{
    
    color:black;
    margin-left: 6rem;
    width:50%;
    display: flex;
    height: 4rem;
}
#menu{
    height: 2rem;
    
    margin-top: 15px;
  
}
h1{
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    margin-top: 9px;
}
#home {
    font-weight: bold;
    color: black;
    font-family: 'Comfortaa', cursive;
     font-size: 18px;
    text-decoration: none;
    padding-inline-start: 10px;
    padding: 25px;
}
#course {
    font-weight: bold;
    color:black;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    text-decoration: none;
    padding-inline-start: 10px;
    padding: 25px;
}

#blog {
    font-weight: bold;
    color:black;
    font-size: 18px;
    text-decoration: none;
    padding-inline-start: 10px;
    padding: 25px;
}
#contact {
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-inline-start: 10px;
    padding: 25px;
}

#call {
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-decoration: none;
    padding-inline-start: 10px;
    padding: 25px;
}
#content{
    
    height: 25%;
    width: 41%;
    float:left;
    margin-top: 50px;
    margin-left: 3rem;
}
h2{
    
    margin-left: 50px;
    font-size: 35px;
}
#intro{
    margin-left: 45px;
    font-size: 20px;
}
#imag-div{
    
   
    width: 40%;
    float: right;
    margin-top: 50px;
}
img{
    height: 350px;
    border-radius: 20px;
    margin-left: 250px;
    box-shadow: 10px 10px 5px #aaaaaa;
    
}
.main-container{
    background-color: white;
    box-shadow: black;
    
    width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    height: 30rem;
    margin-top: 20px;
    border-radius: 20px;
    width: 70%;
    
}
#contact-btn{
    margin-top: 90px;
  margin-left: 55px;
  height: 45px;
  width: 40%;
  border-radius: 20px;
  background-color: rgb(8, 233, 38);
  color: rgb(7, 7, 7);
  
}
#btn{
    padding: 35px;
    
}
#socal-media {
    
    height: 7rem;
    width: 350px;
    display: flex;
}
#facebook{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 70px;
    margin-top: 40px;
}
#instagram{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
}
#whatsapp{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
}
#youtube{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
}
#google{
    height: 44px;
    width: 44px;
    border-radius: 150px;
    margin-left: 20px;
    margin-top: 40px;
}
#lable{
    text-align: center;
    margin-top: 75px;
}
.course-section{
    
    background-color: white;
    box-shadow: black;
    
    width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    height: 15rem;
    margin-top: 20px;
    border-radius: 20px;
    width: 25%;
    text-align: center;
}
.course-section1{
    float:right;
    background-color: white;
    box-shadow: black;
    
    width: 284px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    height: 15rem;
    margin-top: 20px;
    border-radius: 20px;
    width: 25%;
    text-align: center;
}.course-section2{
    
    background-color: white;
    box-shadow: black;
    
    width: 33%;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
    height: 15rem;
    margin-top: 20px;
    border-radius: 20px;
    
    text-align: center;
}
.title-course{
    font-size: 25px;
    font-weight: bold;
    
}
.more{
    height: 45px;
    width: 85px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin-top: 2rem;
}
#course{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
      
     
